
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>news
    </title>
  <!--   <style>
      .button {
        background-color: #1c87c9;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
      }
    </style> -->
  </head>
  <body>

 
    <div class="container">
      <br>
      <ul class="nav nav-tabs navbar-light">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="websearch.html">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="internalsearch.html">Turners information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="internaldocument.html">Turners documents</a>
        </li>
      </ul>
      <br><br>
      
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="/static/news.jpg" class="card-img-top" alt="news">
            <div class="card-body">
              <h5 class="card-title">Search in <br> news websites</h5>
              <p class="card-text">To search the latest <br><strong>news in the car world</strong></p>
              <a href="websearch.html"  class="btn btn-primary" role="button">News</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="/static/turnerssite.jpg" class="card-img-top" alt="turners website">
            <div class="card-body">
              <h5 class="card-title">Search in <br> Turners website</h5>
              <p class="card-text">To search dettails in <br><strong>Turners information</strong></p>
              <a href="internalsearch.html"  class="btn btn-primary" role="button">Turners information</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="/static/internaldocument.jpg" class="card-img-top" alt="turners documents">
            <div class="card-body">
              <h5 class="card-title">Search in <br> Turners documents</h5>
              <p class="card-text">To search and download <br><strong>Turners documents</strong></p>
              <a href="internaldocument.html"  class="btn btn-primary" role="button">Turners documents</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>